.about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    background: url("../../../../asserts/about/background_about.png");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: 1440px 750px;
    z-index: 90;
}

.about__container__call__tablet {
    display: none;
}

.about__header {
    padding: 20px 60px 20px 60px;
    background-color: #fff;
    font-weight: 500;
    font-family: letsGoMedium;
    z-index: 1;
}

.header__background {
    padding: 20px 60px 20px 60px;
    background: #161c34;
    font-weight: 500;
    font-family: letsGoMedium;
    z-index: 1;
}

.about__header a {
    color: var(--basic_blue) !important;
    z-index: 3;
}

.about__header svg {
    fill: #192144 !important;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}

.about__container__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    padding-left: 70px;
    margin-top: -80px;
}

.about__container__description h4 {
    padding-bottom: 85px;
}

.about__container__call {
    position: relative;
    top: -13px;
    height: 633px;
}

.about__container__img {
    top: 70px;
    position: absolute;
}

.about__container__description__slogan {
    font-size: 45px;
    line-height: 45px;
    color: var(--special_orange);
    padding-bottom: 40px;
}

.about__container__description__text {
    font-size: 28px;
    line-height: 34px;
    font-style: normal;
    padding-bottom: 40px;
    font-family: letsGoLight;
    font-weight: 300;
}

.about__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 32px 30px;
    width: 274px;
    max-height: 80px;
    font-size: 24px;
    font-family: letsGoMedium;
    background: var(--basic_yellow);
}

.about__link span {
    font-size: 24px;
    font-family: letsGoMedium;
    font-weight: 700;
    color: var(--basic_blue);
}

.about__container__call__tablet__decoration {
    display: none;
}

.about__background__mobile {
    display: none;
}

.about__background__mobile__decoration {
    display: none;
}