.geolocation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: url("../../../../asserts/footer/background2.png");
  width: 100%;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  min-height: 300px;
  z-index: 40;
  margin-top: -70px;
}

.geolocation__contacts {
  display: flex;
  padding: 0px 30px;
  padding-top: 90px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1175px;
}

.geolocation__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 30px;
  min-width: 330px;
  max-height: 81px;
  font-size: 24px;
  font-family: letsGoMedium;
  border: 3px solid var(--basic_blue);
  background: var(--basic_yellow);
  border-radius: 20px;
}

.geolocation__link span {
  color: var(--basic_blue);
}

.geolocation__contacts__contact__span {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding-left: 30px;
  text-transform: uppercase;
  max-width: 550px;
  cursor: pointer;
  color: var(--basic_blue);
}

.geolocation__contacts__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 330px;
    width: 100%;
  }

  .geolocation__mark {
    padding-left: 105px;
  }