.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.promo__tablet__image {
  display: none;
}

.promo__desktop__tablet__image {
  display: none;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: url("../../../../asserts/promo/globe-back-desktop.png");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: 1450px 780px;
  z-index: 100;
  /* margin-top: 100px; */
}

.promo__container__fixed {
  /* margin-top: 500px; */
  margin-top: 110px;
}

.promo dl {
  margin: 0px !important;
}

.promo h1 {
  font-size: 60px;
}

.promo__slogan {
  display: flex;
  position: relative;
  max-width: 400px;
}

.promo__text {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 60px;
  padding-top: 20px;
}

.promo__text h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 45px;
}

.promo__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  padding: 35px 110px 0px 130px;
}

.promo__container img {
  padding-left: 40px;
  /* margin-top: -80px; */
}

.promo__variants {
  display: flex;
  position: absolute;
  top: 550px;
  font-weight: 700;
  font-size: 24px;
  color: var(--basic_blue);
  font-family: letsGoMedium;
}

.promo__variant:not(:nth-child(4) :nth-child(1)) {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0px;
  min-width: 345px;
  height: 107px;
  border-radius: 12px;
  margin-left: -30px;
}

.promo__variant:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0px;
  min-width: 345px;
  height: 107px;
  border-radius: 12px;
}

.promo__variant:nth-child(4) {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0px;
  min-width: 315px;
  height: 107px;
  border-radius: 12px;
  margin-left: -30px;
}

.promo__variant dt {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  width: 80px;
  color: #fff;
}

.promo__variant dd {
  width: 200px;
}

.special_orange {
  background: var(--special_orange);
}

.special_yellow_darker {
  background: var(--special_yellow_darker);
}

.special_yellow_dark {
  background: var(--special_yellow_dark);
}

.basic_yellow {
  background: var(--basic_yellow);
}

.basic_blue {
  background: var(--basic_blue);
}

.basic_blue_contacts {
  background: var(--basic_blue_contacts);
}

.header__navigation__logo__tablet {
  display: none;
}

.promo__mobile__image {
  display: none;
}

.header__contact__mobile {
  display: none;
}