.team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  background: url("../../../../asserts/traveles/background_about.png");
  width: 1440px;
  background-repeat: no-repeat;
  margin-top: -180px;
  min-height: 920px;
  background-size: 1440px 920px;
  z-index: 70;
}

.team__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  width: 100%;
}

.team__container__img {
  top: 170px;
  position: absolute;
}

.team__container__img__photo1 {
  top: 235px;
  left: 550px;
  position: absolute;
}

.team__container__img__photo2 {
  top: 485px;
  left: 190px;
  position: absolute;
}

.team__container__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.team__container__description__slogan {
  font-size: 45px;
  line-height: 45px;
  color: var(--special_orange);
  padding-bottom: 55px;
}

.team__container__description h4 {
  font-size: 21px;
  line-height: 24px;
  padding-bottom: 85px;
}

.team__container__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 145px;
  padding-left: 70px;
  width: 100%;
}

.team__container__users {
  display: flex;
}

.team__container__users img {
  padding-top: 100px;
  padding-left: 30px;
}

.team__container__user {
  display: none;
}

.team__container__user1 {
  display: none;
}
