@media screen and (max-width: 770px) {
  .about {
    position: absolute;
    background: none;
    max-width: 100%;
    margin-top: -3700px;
    overflow: hidden;
    z-index: 80;
  }

  .about__header {
    display: none;
  }

  .about__container__img {
    /* display: none; */
  }

  .about__container__call {
    display: none;
  }

  .about__container__call__tablet {
    display: block;
    padding-left: 30px;
    padding-top: 110px;
  }

  .about__container__call__tablet__decoration {
    position: absolute;
    z-index: 100;
  }

  .about__container__description {
    padding-top: 120px;
    padding-left: 0px;
  }

  .about__container__description h4 {
    max-width: 215px;
  }

  .about__container__description h4 br {
    display: none;
  }

  .about__container__description__text {
    font-size: 28px;
    line-height: 34px;
  }

  .about__container {
    padding-top: 200px;
  }

  .about__container__img {
    display: none;
  }

  /* .about__link {
    margin-top: 240px;
  } */
}
