@media screen and (max-width: 770px) {
  .team {
    background: url("../../../../asserts/media/768/team/back_3.png");
    width: 100%;
    min-height: 1269px;
    background-size: 768px 1269px;
    z-index: 50;
  }

  .team__container__wrapper {
    padding-left: 40px;
    margin-top: -50px;
    flex-direction: column;
  }

  .team__container__img {
    top: 138px;
  }

  .team__container__img__photo2 {
    top: 138px;
    left: 420px;
  }

  .team__container__img__photo1 {
    top: 500px;
    left: 60px;
  }

  .team__container__description {
    width: 100%;
    height: 700px;
    padding-top: 120px;
  }

  .team__container__description h4 {
    padding-bottom: 40px;
  }

  .team__container__link {
    margin-top: 540px;
    margin-left: -20px;
    width: calc(100% + 5px);
  }

  .team__container__users {
    width: 100%;
    height: 100%;
  }

  .team__container__user {
    display: block;
    position: absolute;
    top: 480px;
    left: 50px;
  }

  .team__container__user1 {
    display: block;
    position: absolute;
    top: 480px;
    left: 380px;
  }
}
