@media screen and (max-width: 380px) {
  .geolocation {
    background: url("../../../../asserts/media/320/geolocation/background_location.png");
    width: 100%;
    background-size: 100% 250px;
    min-height: 250px;
  }

  .geolocation__contacts__contact__span {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }

  .geolocation__contacts__contact {
    width: 100%;
  }

  .geolocation__contacts__contact__span {
    max-width: 205px;
  }

  .geolocation__contacts {
    width: 100%;
    padding-left: 25px;
    padding-top: 90px;
  }

  .geolocation__link {
    min-width: 100px;
    max-width: 270px;
    max-height: 62px;
    border-radius: 10px;
    padding: 22px 30px;
  }

  .geolocation__link span {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .geolocation__contacts__image {
    content: url("../../../../asserts/media/320/geolocation/icon_location.png");
  }

  .geolocation__contacts__contact {
    padding-top: 30px;
  }
}
