@media screen and (max-width: 320px) {
  .team {
    background: url("../../../../asserts/media/320/team/Rectangle46.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 1451px;
    background-size: 320px 1451px;
    z-index: 50;
  }

  .team__container__img {
    content: url("../../../../asserts/media/320/team/back.png");
    left: 0px;
    top: 220px;
  }

  .team__container__img__photo1 {
    left: 150px;
    top: 220px;
  }

  .team__container__img__photo2 {
    content: url("../../../../asserts/media/320/team/rogovaya-back-desktop.png");
    left: 0px;
    top: 450px;
  }

  .team__container {
    padding: 0px;
    padding-top: 30px;
  }

  .team__container__description__slogan {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    padding-bottom: 20px;
  }

  .team__container__description h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }

  .team__container__users {
    flex-direction: column;
  }

  .team__container__users img {
    padding: 0px;
  }

  .team__container__user {
    left: 20px;
    content: url("../../../../asserts/media/320/team/user_card_1.png");
  }

  .team__container__user1 {
    top: 920px;
    left: 20px;
    content: url("../../../../asserts/media/320/team/user_card.png");
  }

  .team__container__link {
    margin-top: 890px;
    margin-left: -18px;
    width: 272px;
  }
}
